*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: "navBar"
                        "busqueda"
                        "main"
                        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 10vh 1fr 10vh;
    height: 100vh;
}
.navBar{
    background-color: blue;
    grid-area: navBar;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagen_y_titulo{
    display: flex;
    align-items: center;
}
.navBar img{
    height: 6vh;
}
.listas{
    display: none;
}
.seleccion{
    width: 40vw;
    height: 3vh;
    border-radius: 0.3rem;
}
.icono{
    font-size: 1.8rem;
}
.filtro_de_busqueda{
    background-color: blueviolet;
    grid-area: busqueda;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main{
    background-color: chartreuse;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.tarjetas{
    background-color: tomato;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container_imagen{
    height: 18rem;

}
.container_imagen img{
    width: 100%;
}
.tarjetas button{
    height: 15%;
    width: 60%;
    border-style: none;
    border-radius: 0.7rem;
}
.container_texto{
    text-align: center;
}
.paginas{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 80vw;
}
.tarjeta_visible{
    display: none;
}
.footer{
    background-color: turquoise;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.marcas-footer{
    display: flex;
    gap: 1rem;
}
.derechos-footer{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
@media(min-width:576px){
    body{
        display: grid;
        grid-template-areas: "navBar busqueda"
                            "navBar main"
                            "navBar main"
                            "footer main";
        grid-template-columns: 30vh 1fr;
        grid-template-rows: 12vh 1fr 1fr 20vh;
        height: 100vh;
    }
    .navBar{
        grid-area: navBar;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .navBar i{
        display: none;
    }
    .imagen_y_titulo{
        margin-top: 3rem;
    }
    .listas{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-top: 2rem;
        font-size: 1.2rem;
        gap: 0.5rem;
        font-weight: bolder;
    }
    .seleccion{
        width: 40vw;
        height: 3vh;
        border-radius: 0.3rem;
    }
    .main{
        grid-area: main;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .tarjetas{
        height: 37vh;
        width: 15vw;
        display: flex;
        flex-direction: column;
        margin: 1.5rem;
    }
    .tarjetas button{
        margin-top: 0.5em;
    }
    .tarjeta_visible{
        display:flex;
    }
    .paginas{
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        width: 20vw;
    }
    .footer{
        grid-area: footer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .marcas-footer i{
        font-size:xx-large;
    }
    .derechos-footer{
        margin-top: 1rem;
    }
}